body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}
h1 {
	text-align: center;
}

.jumbotron {
	background-color: #A9D0F5;
}

#gif-form{
	background-color: #A9D0F5;
	padding: 10px;
}

.fandom {
	margin: 10px;
}

#gifsView {
	float: left;
}